.button {
  border-radius: 8px;
  border: none;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: background-color 0.25s;
}

.field {
  padding: 0.4em 1em;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  max-width: 300px;
}

.field:active {
  border-color: #747bff;
}
.field:hover {
  border-color: #747bff;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
